<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020988429029-6rti76dqaaake5r0p7hqqb1a2c855fs2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020988429029-6rti76dqaaake5r0p7hqqb1a2c855fs2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1020988429029-trr5epoqot50lt98404s0den2qjv25j6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQB75lfZ4EXrdiBncvpI8fHbmDXg8m3FY</string>
	<key>GCM_SENDER_ID</key>
	<string>1020988429029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myden.residents</string>
	<key>PROJECT_ID</key>
	<string>myden-60f0a</string>
	<key>STORAGE_BUCKET</key>
	<string>myden-60f0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020988429029:ios:7256441cbbade76961ba0c</string>
	<key>DATABASE_URL</key>
	<string>https://myden-60f0a.firebaseio.com</string>
</dict>
</plist>